h2 {
    padding-top: 0.5em;
}

table {
    width: 50%;
    margin: auto;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

th {
    background-color: rgb(0, 214, 203);
}

td {
    background-color: rgb(208, 255, 253);
}

td > img {
    display: block;
    margin: auto;
}

dt {
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 1em;
}

dd {
    font-style: italic;
    margin-top: 0.3em;
    margin-left: 0;
}

td > a {
    color: black;
}

td > a:visited {
    color: black;
}

td > a:hover {
    color: gray
}

* {
    box-sizing: border-box;
  }
  
  .container--fluid {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
  }
  
  .article--fluid {
    background-color: #f3f3f3;
    padding: 1rem;
    border-radius: 1rem;
  }